// Screen Reader stuff
.screen-reader-text{ @extend .sr-only; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  overflow-y: scroll;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1,h2,h3,h4,h5,p,span{ 
	text-align:justify;
}

h1,h2,h3{
	@media screen and (max-width: $screen-xs-min) {
		font-size:2.4rem;
	}
}

// Default Form
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"]{
    @extend .form-control;
}

input[type="submit"]{
    @extend .btn;
    @extend .btn-default;
}

.required{ color: red; }


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	// text-transform: uppercase;
}