// Background helpers
.bg-darker{ background-color: $gray-darker; }
.bg-gray-light{ background-color: $gray-light; }
.bg-gray-ligher{ background-color: $gray-lighter; }
.bg-gray{ background-color: $gray; }
.bg-primary{ background-color: $brand-primary; }
.brand-success{ background-color: $brand-success; }
.bg-custom-gray{ background-color: #e8ebf5; }
