@import "layout/gallery";

.site-main{
	padding-bottom: 50px;
	overflow: hidden;
}

.container{
	width:100%;
	padding: auto 15px;
	margin:auto auto;
	max-width:1000px;
}

.size-full{
	width:100%;
	display:block;
	height:auto;
}

.paralax{
	width:100%;
	height:250px;
	background-position:center !important;
	background-size: cover !important;
	background-attachment: initial !important;
	@include breakpoint($screen-sm-min){ 
		width:100%;
		height:400px;
		background-position:center !important;
        background-attachment: fixed !important;
        background-size: auto !important;
	}
}

.post-type-archive-stt-news{
	#custom-post-type-recent-posts-6{
		display:none;
	}
}

.post-type-archive-stt-events{
	#custom-post-type-recent-posts-4{
		display:none;
	}
}

.entry-header{
	text-align:left;
	font-size: 33px;
   	margin-bottom: 38px;
}

.intro-block{
	text-align:center;
	padding: 2.5rem 0;
	h3,p{
		text-align:center;
	}
	h3{
		font-size: 33px;
    	margin-bottom: 30px;
	}
}

sup{
	font-size: 7px;
    font-weight: 600;
	vertical-align:super;
}

.footer-technology{
	a{
		text-transform: uppercase;
	}
}

.switcher .option{
	position:absolute !important;
}

.page_cta{
    background-image:url('images/box-pattern-dark.png');
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    margin-top: 30px;
    align-items: center;
    clear: both;
    @media screen and (max-width: $screen-sm-min) {
	    flex-direction: column;
	}
    h2{
    	margin-top:10.5px;
    	font-size: 2.3rem;
    	@media screen and (max-width: $screen-sm-min) {
		    text-align:center;
		}
    }
}

.entry-content{
	overflow:auto;
}

.full-image{
	width:100%;
	display:block;
}

.single-post{
	>h3{
		font-size: 2rem;
	    color: #0b4268;
	    font-weight: 400;
	}
}

.widget-area{
	margin-top:21px;
}