.site-header{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	z-index:999;
}

.site-content{
	margin-top: $mobile-nav-height;
	position:relative;
	z-index:10;
	background:#fff;

	@include breakpoint($screen-sm-min){
		margin-top: $tablet-nav-height;
	}

	@include breakpoint($screen-md-min){
		margin-top: $laptop-nav-height;
	}
}


.custom-logo-link{
	display: block;
	max-width: 140px;
	max-width: 140px;
	overflow: hidden;
	padding: 15px 15px;
	
	// small tablet
	@include breakpoint($screen-sm-min){
		max-width: 125px;
	}

	@include breakpoint($screen-md-min){
		max-width: 170px;
		padding: 23px 0;
		margin-left:30px;
	}


	img{ @include img-responsive(); }
}


// Main Nav Stuff
.navbar-default{
	// @include myoutline(blue);
	text-transform:uppercase;
	
	.navbar-nav{
		// @include myoutline(red);
		margin-top: 10px;

		@include breakpoint($screen-md-min){
		margin-top: 31px;

		}
		>.current-menu-item, >.current-menu-parent{
			>a{
				color: $brand-primary !important;
				font-weight: 600 !important;
			}
		}

		& > li > a{ 
			@include breakpoint(max-width $screen-md-min){
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		.active > a{
			font-weight: 600;
		}
	}

	.navbar-toggle{ margin-top: 19px;padding:5px 10px; }
}




.lg-accordion{
	border-color: transparent;
	box-shadow: none;

	& > .panel-heading {
		background-color: #e8ecf5;
	}

	.panel-title > a{
		display: block;
		position: relative;
	    padding: 10px 15px;
	    color:  $brand-primary;
	    font-size: 25px;
	    text-decoration: none;
	    small{
	    	font-size: 18px;
	    	color: $gray-darker;
	    }

		.fa{
			position: absolute;
			top: -10px;
			right: -14px;
			width: 35px;
			height: 95px;
			background-color: $brand-primary;
			&:before{
				@include xy-center();
				color: $brand-info;
			}
		}
	}
}

#board-of-directors{
	a{
		cursor: default;
	}
}


.btn-default {
box-shadow: 3px 3px 3px #888888;
}
