.cta-events {
	// padding:0px 0px 0px 0px;
	// border:red;
	margin: 24px 0;

	h3 {
		color:$brand-primary;
		text-align:center;
		font-weight: 400;
		margin-bottom: 15px;
	}

	.box {
		padding: 10px;

		@include breakpoint($screen-sm-min){
			border-right: solid 1px lighten($gray-light, 10%);
			min-height: 480px;
			padding:30px;
			&:first-child{
				min-height: initial;
				border-right: solid 1px transparent;
			}
			&:last-child{
				border-right: solid 1px transparent;
			}
		}
		
		// Large Screen
		@include breakpoint($screen-md-min){
			border-right: solid 1px lighten($gray-light, 10%);
			min-height: 480px;
			&:first-child{
				min-height: initial;
				border-right: solid 1px lighten($gray-light, 10%);
			}
			&:last-child{
				border-right: solid 1px transparent;
			}
		}

		.column-news, .column-events{
			margin-top: 24px;
		}
	}

	.center {
		text-align: center;
	}
}
