.cta-different {
	text-align:center;
	padding:40px 0px 40px 0px;
	background: url(images/secure-white.png) no-repeat;
	background-position:right;
	background-color:#e5e5e5;

	p {
		margin-bottom:20px;
		text-align:center;
	}

	h2 {
		color:$brand-primary;
		text-align:center;
	}
}
