.cta-mission {
	text-align:center;
	padding:80px 0px 80px 0px;
	background: url(images/STT-overlay.jpg) fixed no-repeat;
	background-size:cover;
	background-position:center;

	.mission-copy {
		font-weight: 200;
		font-size: 30px;
		line-height: 1.5em;
		text-align:center;
	}

	.gold {
		color:#f2d412;
	}

	.white {
		color:#fff;
	}
}
