.cta-services {
	text-align:center;
	padding:40px 0px 40px 0px;
	background: url(images/box-pattern-dark.png) fixed repeat;

	p {
	margin-bottom:20px;
	text-align:center;
	}

	h1 {
		color:$brand-primary;
		text-transform:uppercase;
		text-align:center;
	}

	.well{
		background-color:transparent;
		border:none;


		.cta-img {
			height: 94px;
			overflow: hidden;
		}
			
		img {
				max-height: 94px;
				margin-left:auto;
				margin-right:auto;
		}

		a{
			&:hover, &:focus{
				text-decoration: none;
				// background-color:#fff;
				// opacity: 0.8;
				// h1{
				// 	color:#000;
				// }
			}
		}

	}

	.well:hover {
		background-color:#fff;
		opacity: 0.9;
	}
}