.executive-management-team-wrap{
	display:flex;
	flex-wrap:wrap;
	>div{
		width:100%;
		#accordion{
			display:flex;
			flex-wrap:wrap;
			.lg-accordion{
				width:100%;
				margin:0 !important;
				overflow:hidden;
				.panel-collapse{
					height:100%;
				}
				@include breakpoint($screen-sm-min){
					width:50%;
				}
			}
		}
	}
	.panel-title{
		font-weight:300;
		a{
			color: initial !important;
			font-size:23px !important;
			small{
				color:#0b4268 !important;
				font-weight:300;
				margin-top:10px;
				display:block;
			}
		}
	}
	.executive-team{
		.panel-collapse{
			display:block;
			background-color: #e8ecf5;
		}
		.panel-heading{
			background: url('http://smarttraktech.com.lindsayviscount.com/wp-content/uploads/2017/09/blue-boxpattern.jpg') no-repeat;
			border:0;
		}
		.panel-body{
			border-top:0 !important;
			p{
				padding: 10px 15px;
			}
		}
	}
	.board-directors{
		.panel-heading{
			background-color: #eee;

		}
	}
}