// Featured Image
.featured-image{
    $picture-width:    1200px;
    $picture-height:   250px;
    position: relative;
    background-color: $gray-lighter;

    // Image
    .img-cont{
        // Mobile First view
        display: block;
        position: relative;
        width: 100%;

        img{
            width: 100%;
            height:100%;

            @include breakpoint(1200px){
                height: auto;
                width: 100%;
                max-height: 300px;
            }
        }
    }

    // Title
    .title-cont{
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        position: absolute;
        text-transform: uppercase;
        z-index: 2;
        left: 6%;
        top: 0;
        width: calc( 100% - 6% );
        height: 100%;
        align-items: center;
        display: flex;

        .featured-title{
            $large-heading-fz: (
                default : 25px,
                small   : 25px, 
                medium  : 37px,
                large   : 37px
            );

            @include span(12) ;
            @include font-size($large-heading-fz);
            color: #fff;
            font-weight: 400;
            font-family: "Oswald",sans-serif;
        }
    }
}

#carousel-example-generic{
    overflow:hidden;
}
