.footer {
	color:$brand-warning;

		li {
			font-size:13px;
		}

		a {
			color:$brand-info;
			font-weight:bold;
		}

		ul {
			list-style-type: none;
		    margin: 0;
		    padding: 0;
			}

		h4 {
			color:$brand-warning;
			font-weight: 300;
		}

		.site-info {
			font-size:13px;
			margin-top: 20px;
			font-weight: 300;
			border-top:1px solid $brand-warning;
		}

		.legal {
		padding-top:15px;

			a {
				color:$brand-warning;
				font-weight: 300;
			}

		}
}

.footer-wrapper{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	z-index:1;
	background-color: #000;
	@media screen and (max-width: $screen-sm-min) {
		position:relative;
	}
	.footer-address{
		clear:left;
		padding-top:10px;
		@include breakpoint($screen-sm-min){
			clear:none;
			padding-top:0;
		}
	}
}

address{
	font-size:13px;
}

.scroll-top{
	display: inline-block;
    position: fixed;
    right: 0;
    bottom: 10px;
    cursor: pointer;
    padding: 1px 16px;
    background-color: $brand-primary;
    color: #fff;
    font-size: 40px;
    z-index: 999;
    @include breakpoint($screen-sm-min){
		display:none;
	}
}