.gform_wrapper{
	@include container();
}


// Default lead form
.gform_wrapper{

	@extend .form-horizontal;

	.gform_heading{
		// @include myoutline(red);
		margin-bottom: $padding-large-vertical;

		.gform_title{
			font-weight: 700;
			text-transform: uppercase;
			margin: 0;
			text-align:center !important;
			margin-bottom:10px;
		}
	}
	.gform_description{
		text-align:center !important;
		margin-bottom:30px;
		display:block;
	}


	.gform_fields{
		// @include myoutline(red);
		list-style-type: none;
		margin: 0;
		padding: 0;
		li{
			display:flex;
		}
		
		
		.gfield{
			@extend .form-group;
			margin:25px 0;
			.textarea { height: 140px; }
		}

		.ginput_complex {
			// @include myoutline(red);

			label{
				font-weight: 400;
			  font-size: floor((100% * $font-size-small / $font-size-base));
			}
		}


		.gfield_label{
			width:150px;
			padding-right:20px;
			text-align:left;
			@extend .control-label;		
		}

		.ginput_container{
			width: calc( 100% - 170px );		
		}

	}

	.gform_footer{
		// @include myoutline(red);
		overflow: hidden;
		
		.gform_button{ 
			float: right;
		}
	}

	.gsection_title{
		font-size: $font-size-base;
		color: #fff;
		padding-left: 15px;
		padding-right: 15px;
	}

}

// Validation Stuff
#gform_wrapper_1{

	.gform_validation_error{

		.validation_error{
			@extend .help-block;
			color: #fff;
		}

	}

}

.gfield_required{
	color:red;
}

.contact-us-form{
	max-width: 800px;
	margin: auto auto;
}

