.hero-text {

	.btn-primary {
		margin-top:30px;
	}


	.spot {
		font-family: "Oswald",sans-serif;
		line-height: 1em;
		font-size: 40px;
		color:#f2d412;
		text-shadow: 3px 3px 3px #000;
		@include breakpoint($screen-sm-min){
            font-size: 60px;
        }
	}

	.sm-spot {
		margin-top:10px;
		font-family: "Roboto",sans-serif;
		font-size: 24px;
		color:#fff;
		font-weight: 300;
	}
}



.slide-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	height:100%;
	overflow: hidden;
	.box-container{
		width: 100%;
	    position: relative;
	    height:100%;
	    display:flex;
	    justify-content:center;
	    align-items:center;
	    padding:40px;
	    @include breakpoint($screen-sm-min){
            max-width: 445px;
        }
	    .box-screen {
		    height: 100%;
		    width: 100%;
		    background-color: #000;
		    position: absolute;
		    top: 0px;
		    left:0;
		    opacity: 0.5;
		    z-index: -1;
		}
	}

}

.carousel-inner{
	height: 550px;
	
	.item{
		.img-cont{
			position: relative;
			height: 550px;
			img{
			    position: absolute;
			    top: 50%;
			    right: 50%;
			    -ms-transform: translate(25%, -50%);
			    transform: translate(25%, -50%);
			    width: auto;
			    overflow: hidden;
			    min-height: 100%;
				@include breakpoint($screen-sm-min+1){
				 	@include xy-center();
				 }
				 @include breakpoint(1200px){
				 	width: 100%;
				 	min-height: initial;
				 }
			}		
		}
	}
}