.interior-header {
	padding:40px 0px 40px 0px;
	background: url(images/interior-header-img.jpg) no-repeat;
	background-size:cover;
	// background-position:left;
	// background-color:#e5e5e5;

	h2 {
		font-family: "Oswald",sans-serif;
		font-weight: 400;
		line-height: 1em;
		font-size: 25px;
		color:#FFF;
		text-align:left;
		margin-left:12%;
		text-transform:uppercase;
		// text-shadow: 3px 3px 3px #000;
	}
}