.company-menu{
	// @include myoutline(red);
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	flex-wrap: wrap;
	// margin-top: -20px;
	margin: 0;
	padding: 0;

	a{
		padding: 12px;
		display: block;
	}

	li.active{
		background-color: $brand-info;
	}
}


#menu-main{
	& > .menu-item >a{
		text-align:left;
		@include breakpoint($screen-sm-min){
			text-align: center;
		}
	}
	& > .menu-item a{
		display: inline-block;
		width:100%;
		@include breakpoint($screen-sm-min){
			font-size:13px;
		}

		@include breakpoint($screen-lg-min){
			min-width: 145px;
			font-size:15px;
		}
	}
}

.dropdown-menu{
	left:auto !important;
	right:auto !important;
}

.caret{
	display: inline-block;
    float: right;
    width: 0;
    height: 0;
    /* font-size: 20px; */
    margin-left: 2px;
    vertical-align: middle;
    border-top: 8px dashed;
    border-top: 4px solid \9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
	@include breakpoint($screen-sm-min){ 
		display: inline-block;
	    width: 0;
	    float:none;
	    height: 0;
	    margin-left: 2px;
	    vertical-align: middle;
	    border-top: 4px dashed;
	    border-top: 4px solid \9;
	    border-right: 4px solid transparent;
	    border-left: 4px solid transparent;
	}
}