.partners-logo{
	ul{
		list-style: none;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding:0;
		li{
			width: 50%;
			padding: 10px;

			@include breakpoint($screen-sm-min){
				width:33.33%
			}
			@include breakpoint($screen-md-min){
				width:20%
			}
			img{
				width:auto;
				margin:auto auto;
				display:block;
			}
		}
	}
}