.press-download{
	list-style:none;
	margin-top:40px;
	li{
		display:flex;
		flex-wrap:wrap;
		width: 100%;
		text-align:center;
		@include breakpoint($screen-sm-min){
			width:50%;
		}
		@include breakpoint($screen-md-min){
			width:25%;
		}
		img{
		    display: block;
		    width: 100%;
		    height: 100%;
		}
		div{
			width:100%;
		}
		h2{
			text-align:center;
			display:block;
		}
		a{
			display:inline-block;
			margin:auto auto;
			margin-top:10px;
		}
	}
}
.more-link{
	display:inline-block;
	clear:both;
}

.stt-event{
	margin-top:50px;
}