.technology{
	.intro-block{
		h2,h3{
			text-align:left;
		}
		p{
			text-align:justify;
		}
	}
}
.technology-list{
	display:flex;
	flex-wrap:wrap;
	margin-left:-10px;
	margin-right:-10px;
	.single-tech{
		width:calc( 33.33% - 20px );
		margin:10px;
		position:relative;
		@media screen and (max-width: 1000px) {
		    width:calc( 50% - 20px );
		}
		@media screen and (max-width: $screen-xs-min) {
		    width:calc( 100% - 20px );
		}
		.content{
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    display: flex;
		    height: 100%;
		    flex-direction: column;
		    justify-content: center;
		    text-align: center;
		    align-items: center;
		    padding: 20px;
		    @media screen and (max-width: $screen-xs-min) {
			    padding: 10px;
			}
		    background: url('http://smarttraktech.com.lindsayviscount.com/wp-content/uploads/2017/09/blue-boxpattern.jpg') no-repeat;
		    h3, div, p{
		    	text-align:center;
		    }
		    h3{
		    	font-size: 2rem;
			    color: #0b4268;
			    font-weight: 400;
		    }
		    .fa-caret-down{
		    	font-size: 23px;
    			color: #f2d412;
		    }
		    p{
		    	display:none;
		    	@media screen and (max-width: $screen-xs-min) {
				    font-size:1.4rem;
				}
		    }
		}
	}
}

.footer-technology{
	a{
		text-transform:uppercase;
	}
}

.technologies{
	.feature-image{
		&.desktop{
			display:block;
			float:right;
			width: calc( 50% - 30px);
    		margin: 0 0 30px 30px;
    		img{
    			width: 100%;
    			display: block;
    		}
			@media screen and (max-width: $screen-xs-min) {
			    display:none;
			}
		}
		&.mobile{
			display:none;
			img{
    			width: 100%;
    			display: block;
    		}
			@media screen and (max-width: $screen-xs-min) {
			    display:block;
			}
		}
	}
}